[Desktop Entry]
Version=1.0
StartupWMClass=tf2-hud-editor
Exec=java -jar Dropbox/Public/tf/Hud\ Editor/TF2\ HUD\ Editor.jar %U
Icon=tf2-hud-editor
Type=Application
StartupNotify=true
Terminal=false
Keywords=TF2;HUD;Editor;WYSIWYG;
Categories=Game;
Name=TF2 HUD Editor
GenericName=TF2 HUD Editor
Comment=Edit TF2 HUDs
Actions=New;
[Desktop Action New]
Name=New HUD
Exec=java -jar Dropbox/Public/tf/Hud\ Editor/TF2\ HUD\ Editor.jar
